.header{
  padding: 20px 0;
  background-color: orange;
}

.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-item{
  margin-right: 20px;
}

.header-link{
  font-size: 24px;
  color: #fff;
}